!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    / Always force latest IE rendering engine (even in intranet) and Chrome Frame
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, user-scalable=no"}
    
    %title= "BackChat.io API Explorer"
    
    %link{:href => "//ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/smoothness/jquery-ui.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "//assets.backchat.io/stylesheets/watercolour.css?1", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "stylesheets/screen.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "stylesheets/pygment_github.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}

    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
    %script{:src => "//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"}
    %script{:src => "javascripts/app.js"}
    %script{:src => "javascripts/swagger-service.js"}
    %script{:src => "javascripts/swagger-ui.js"}

    / [if lt IE 9]
    %script{:src => "//html5shiv.googlecode.com/svn/trunk/html5.js"}
    / [endif]

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'XXXXXXXXX']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body

    %header.backchatio
      %nav
        .centered
          %a{:href => "https://backchat.io"}
            %img{:alt => "BackChat.io", :src => "//assets.backchat.io/images/logo.png", :width => 180, :height => 50, :title => "Home"}

          %ul
            %li
              %a{:href => "https://api.backchat.io/"}
                API Web Console
            %li
              %a{:href => "https://dev.backchat.io/"}
                Guides &amp; Tutorials

            %li
              %a{:href => "https://api.backchat.io/docs", :class => "active"}
                API Documentation

            %li
              %a{:href => "https://support.backchat.io/"}
                Support Desk

      %hgroup
        %h1 BackChat.io <strong>Platform API</strong>
        %h2 API <strong>Documentation</strong> &amp; <strong>Explorer</strong>

        %nav
          %a{:href => "backchatio-api-developer-documentation.pdf", :class => "btn icon-pdf" }
            <strong>Download</strong> API Docs <strong>PDF</strong>

    %article.wrapper
      %header#sidebar
        %h2 Configuration
        
        %p <strong>Use your API key</strong> to explore the API using your BackChat.io account.

        %form#api_selector
          .input= text_field_tag :apiKey, :placeholder => "api_key", :id => 'input_apiKey'
          /.input= link_to('Explore', "#", :id => "explore")
          %button{:id => "btnExplore"}
            Explore

      %section
        = yield